body{
	background-color: #104E8B;
}
.box{
	width: 25px;
	height: 25px;
	background-color: red;
	display: inline-block;
	position: absolute;
	border-radius: 50%;

}
.map{
	width: 525px;
	height: 525px;
	margin-left: 300px;
	margin-right: auto;
	margin-top: 20px;
	border: solid 1px #C6E2FF;
	display: flex;
	background-color: #C6E2FF;
	border-radius: 5%;
	
}
.wall{
	width: 50px;
	height: 50px;
	margin-top: 21px;
	margin-left: 309px;
	background-color: black;
	display: inline-block;
	position: absolute;

}

.Mac{
	width: 25px;
	height: 25px;
	background-color: green;
	display: inline-block;
	position: absolute;
	animation:spin 0.5s linear infinite;
}
@keyframes spin { 
				
    			100% {transform:rotate(360deg);}
				}


.text{
	font-size: 20px;
	position: absolute;
	left: 532px;
  	top: 278px;
	color: black;
}
#counter{
	font-size: 50px;
	display: inline;
	width: 80px;
	text-align: center;
	margin-left: 515px;
	margin-right: auto;
	
}
#timehead{
	font-size: 40px;
	color: white;
	margin-left: 510px;
	margin-right: auto;
	margin-top: 5px;
}
.textbox{
	position: absolute;
	width: 250px;
	height: 140px;
	background-color: #E0EEEE;
	left: 440px;
	top: 100px;
	display: none;
	border-radius: 10%;
}
.massbox{
	font-size: 25px;
  	text-align: center;
  	padding-top: 20px;

}
.textbut{
	text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  font-size: 18;
}
.head{
	margin-left: 457px;
  	margin-right: auto;
}
.level{
  position: absolute;
  font-size: 20px;
  left: 750px;
  top: 40px;
}