body{
	background-color: #104E8B;
}
.box{
	width: 25px;
	height: 25px;
	background-color: red;
	display: inline-block;
	position: absolute;
	border-radius: 50%;

}
.map{
	width: 525px;
	height: 525px;
	margin-left: 300px;
	margin-right: auto;
	margin-top: 20px;
	border: solid 1px #C6E2FF;
	display: flex;
	background-color: #C6E2FF;
	border-radius: 5%;
	
}
.wall{
	width: 50px;
	height: 50px;
	margin-top: 21px;
	margin-left: 309px;
	background-color: black;
	display: inline-block;
	position: absolute;

}

.Mac{
	width: 25px;
	height: 25px;
	background-color: green;
	display: inline-block;
	position: absolute;
	animation:spin 0.5s linear infinite;
}
@keyframes spin { 
				
    			100% {transform:rotate(360deg);}
				}


.text{
	font-size: 20px;
	position: absolute;
	left: 488px;
	top: 192px;
	color: black;
}
#counter{
	font-size: 50px;
	display: inline;
	width: 80px;
	text-align: center;
	margin-left: 515px;
	margin-right: auto;
	margin-top: 20px;
}