.box{
	width: 50px;
	height: 50px;
	background-color: red;
	display: inline-block;
	position: absolute;
	
}
.map{
	width: 500px;
	height: 500px;
	margin-left: 300px;
	margin-right: auto;
	margin-top: 20px;
	border: solid 1px black;
	display: flex;

}
.wall{
	width: 50px;
	height: 50px;
	margin-top: 21px;
	margin-left: 309px;
	background-color: black;
	display: inline-block;
	position: absolute;

}

.Mac{
	width: 50px;
	height: 50px;
	background-color: green;
	display: inline-block;
	position: absolute;
	animation:spin 0.5s linear infinite;
}
@keyframes spin { 
				
    			100% {transform:rotate(360deg);}
				}